h1,
#Brand {
    color: rgb(137, 224, 220);
    padding: 10px;
    font-family: PT Serif, serif;
}

.row {
    margin-bottom: 30px;
}

body {
    background-image: url('storefrontsColorizedTextureBluetexture.jpg');
}