
.navbar-brand {
    background-color:rgb(137, 224, 220);
    font-family: Anton, sans-serif;
    font-family: PT Serif, serif;   
}

h1 {
    color: rgb(137, 224, 220);
    /* font-family: Anton, sans-serif; */
    font-family: PT Serif, serif; 
}

.row {
    margin-bottom: 30px;
}

body {
    /* margin-left: 10%;
    margin-right: 10%;
  */
  /* background-image:url('https://github.com/Jaliov/React-Portfolio/blob/master/public/storefrontsColorizedTextureBlue.jpg');*/
   background-image:url('storefrontsColorizedTextureBluetexture.jpg');
}
